<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css1/text2text.css" />
    <style>
      body {
        font-family: Lucida Console;
        background: rgb(62, 81, 81);
        background: linear-gradient(
          90deg,
          rgba(62, 81, 81, 1) 0%,
          rgba(254, 245, 234, 1) 80%,
          rgba(222, 203, 164, 1) 100%
        );
      }
      .form-control::placeholder {
        color: rgb(44, 30, 30);
      }
    </style>
  </head>
  <body>
    <header>
      <nav>
        <img src="/static/images/logo.png" alt="Braille Logo" />
        <ul>
          <li> <a href="/"><u>Home</u></a></li>
          <li><a href="#learnbraille"><u>Learn Braille</u></a></li>
          <li><a href="#about"><u>About</u></a></li>
        </ul>
      </nav>
    </header>

    <div id="learnbraille" style="margin-bottom: 60px">
      <h1 style="text-align: center; margin-top: 20px">
        <u style="text-transform: uppercase; padding: 9px; font-size: 50px"
          >Learn Braille</u
        >
      </h1>
      <div>
        <div style="margin: 10px; padding: 20px;">
          <div
            style="
              margin-top: 20px;
              font-size: larger;
              padding-left: 10px;
              background-color: white;
              border: 2px solid black;
            "
          >

          <span style="font-weight: bold; color: black">Braille:</span><br />
          Braille is an essential mode of communication for the visually impaired. Braille is a code. It is a system of reading and writing a specific language without the use of sight. Braille enables people with blindness and visual impairments to read through touch. For many languages, including English, there are different versions, or “grades,” of braille. Braille is an important tool for educational advancement. 
          <br/><br/>
          <span style="font-weight: bold; color: black">Braille Dots:</span><br />
          Braille  codes are  formed within  units of  space known  as Braille  cells. Six dot positions make up each braille character, or “cell”. These dot positions form a rectangle composed of 2 columns with 3 dots in each column. A single dot or any combination of dots may be raised at any of the six positions. Sixty-three combinations  are possible using one or more dots, which are dots that can be used to represent an alphabet, number, number mark, punctuation mark, or even a whole word.
          <br/>
          <div style="text-align: center;"><img src="/static/images/sixdot.jpg" alt="Braille Dot" style="width: 180px; height: 120px;"/></div>
          <br/><br/>
          <span style="font-weight: bold; color: black">Dimension of Braille Cell:</span><br />
          <ul>
            <li><b><u>Dot height:</u></b> approx. 0.02 inches (0.5 mm)</li>
            <li><b><u>Horizontal and  vertical spacing  between dot  centers:</u></b> 0.1 inches (2.5 mm)</li>
            <li><b><u>Blank space  between dots  on  adjacent  cells:</u></b>  0.15 inches (4 mm) horizontally and 0.2 inches (5.0 mm) vertically</li>
          </ul>
          A  standard  Braille  page  is  11  inches  by  11.5  inches  and typically has a maximum of 40 to 43 Braille cells per line and 25 lines.
          <br/><br/>
          <span style="font-weight: bold; color: black">Different Version of Braille:</span><br />
          <div>
            <li><b><u>Grade 1 Braille:</u></b></li>
            Grade 1 braille is a \underline{letter-for-letter substitution} of its printed counterpart. This is the preferred code for beginners because it allows people to become familiar with and recognize different aspects of the code while learning how to read braille. English grade 1 braille consists of the 26 standard letters of the alphabet as well as punctuation.
            <br/><div style="text-align: center;"><img src="/static/images/grade1braille.jpg" alt="Grade1 Braille"  style="width: 400px; height: 280px;"/></div>
            <b>Example:</b> <u>English Text:</u> "dog and cat"      <u>Braille Text:</u> "⠙⠕⠛  ⠁⠝⠙  ⠉⠁⠞"
            <br/><br/><li><b><u>Grade 2 Braille:</u></b></li>
            Grade 2, uses “contractions” that substitute shorter sequences for the full spelling of commonly occurring letter groups. The contractions are similar to English print contractions, like “cannot” versus “can’t”, in the way that a word is shortened. For example, “the” is usually a single character in braille. Grade 2 braille is the most commonly used form of braille code and is found in books, public signage, and restaurant menus, to name a few. It consists of the 26 standard letters of the alphabet, punctuation, and contractions.
            <br/>
            <div style="text-align: center;">
              <img src="/static/images/grade2braille1.jpg" alt="Grade1 Braille"  style="width: 400px; height: 270px;"/>
              <img src="/static/images/grade2braille2.jpg" alt="Grade1 Braille"  style="width: 400px; height: 270px;"/>
            </div>
            <b>Example:</b> <u>English Text:</u> "dog and cat"      <u>Braille Text:</u> "⠙⠕⠛  ⠯  ⠉⠁⠞"
          </ol>
        </div>
        </div>
      </div>
    </div>

    <div id="about" style="margin-bottom: 60px">
      <h1 style="text-align: center; margin-top: 20px">
        <u style="text-transform: uppercase; padding: 9px; font-size: 50px"
          >About</u
        >
      </h1>
      <div>
        <div style="margin: 10px; padding: 20px;">
          <div
            style="
              margin-top: 20px;
              font-size: larger;
              padding-left: 10px;
              background-color: white;
              border: 2px solid black;
            "
          >

          <span style="font-weight: bold; color: black">Features:</span><br />
                <ul>
                  <li>Input Braille characters and obtain the corresponding English translation.</li>
                  <li>Supports Grade 1 Braille translation, which includes basic alphabet characters.</li>
                  <li>Interactive user interface with a clean and intuitive design.</li>
                  <li>Real-time translation as you input Braille characters.</li>
                  <li>Clear and concise English output for easy understanding.</li>
                  <li>Our advanced machine learning algorithms accurately identify and interpret Braille
                    characters, ensuring reliable conversion results.</li>
                </ul><br />

                <span style="font-weight: bold; color: black">Technologies Used:</span><br />
                <ul>
                  <li>Flask: A Python web framework used for building the web application.</li>
                  <li>Python: The programming language used for the server-side logic and handling the translation process.</li>
                  <li>HTML: Used for creating the structure and layout of the web pages.</li>
                  <li>CSS: Used for styling the web pages and enhancing the visual appeal.</li>
                  <li>JavaScript: Used for implementing client-side functionality and real-time translation.</li>
                  <li>Experience the convenience of real-time translation as the converter quickly analyzes the uploaded image and provides the corresponding English text output.</li>
                  <li>
                    The converter seamlessly handles both Grade 1 (uncontracted) and Grade 2 (contracted) Braille, catering to a wide range of Braille readers' needs.
                  </li>
                  <li>Designed with usability in mind, our intuitive and visually appealing interface makes it easy to upload images, view results, and interact with the converter effortlessly.</li>
                </ul><br />
            The Braille Image to Text Converter is a cutting-edge web
            application that harnesses the power of machine learning and
            computer vision to convert Braille characters from images into
            readable text. With this intuitive tool, visually impaired
            individuals and Braille enthusiasts can effortlessly extract
            information from images containing Braille text and have it
            instantly translated into English. The main objective of this
            project is to bring awareness of Braille and to bridge the gap of
            communication between blind and non-blind people. As there were not
            enough technologies to help non-blind people interact and
            communicate with blind people. So, we created a braille-to-text
            converter that is able to take an image of a line (a word, sentence,
            or a character) of Braille, recognize it, and output its English
            counterpart. Using a specific ratio and cropping mechanism , we were
            able to take an image of a sentence/line of Braille and segment each
            Braille character out individually. We feed each of these characters
            into our model and then concatenate the output characters together
            into an English sentence or word.
          </div>

          
        </div>
      </div>
    </div>
  </body>
</html>
